@font-face {
  font-family: "custom";
  src: local("grape_font") format("truetype");
}

.app {
  display: flex;
  flex-direction: column;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  backdrop-filter: blur(100px);
  transition: all ease 0.5s;
}

.overlay > button {
  float: right;
  color: white;
  padding: 10px;
}

.scrollTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transition: all ease-in-out 0.2s;
  mix-blend-mode: difference;
}

.scrollTop > button {
  color: white;
  padding: 15px;
}

.mainCon .section {
  position: relative;
  width: 100%;
  color: white;
  height: auto;
  min-height: 100vh;
}

.mainCon .section:nth-child(odd) {
  background-color: #00abe1;
}

.mainCon .section:nth-child(even) {
  background-color: #161f6d;
}

.mainCon .section:first-child {
  min-height: 1000px;
}

.footer {
  position: relative;
  width: 100%;
  color: white;
  height: auto;
  min-height: 100vh;
  background-color: black;
}

/* Section 1 */

.mainCon .section:first-child .layerContent {
  position: absolute;
  bottom: 25%;
  left: 5%;
  width: 600px;
  height: 500px;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  word-spacing: 10px;
}

.mainCon .section:first-child .layerContent > div {
  width: 100%;
  height: 100%;
}
.mainCon .section:first-child .layerContent > div > p,
h1 {
  padding: 50px;
  text-shadow: 0 0 10px black;
}

.mainCon .section:first-child .carsouel {
  position: relative;
  width: 100%;
  background-color: #00abe1;
  min-height: inherit;
  overflow: hidden;
}

.mainCon .section:first-child .carsouel > img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  transition: all ease-in-out 1s;
  opacity: 0;
  padding: 10px;
}

/* Section 2 */

.mainCon .section:nth-child(2) {
  display: flex;
}

.mainCon .section:nth-child(2) > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 5px 5px white;
}

.mainCon .section:nth-child(2) > div:first-child > h1 {
  min-width: fit-content;
}

.mainCon .section:nth-child(2) > div:first-child > span {
  text-decoration: none;
  color: white;
  padding: 10px;
  min-width: fit-content;
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.mainCon .section:nth-child(2) > div:first-child > span:hover,
.servicesLinkActive {
  background-color: white;
  color: black !important;
  border-bottom: 5px solid #00abe1;
}

.mainCon .section:nth-child(2) > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
}

.mainCon .section:nth-child(2) > div:last-child > a {
  width: 30%;
  min-height: 200px;
  height: 40%;
  margin: 10px;
  float: right;
  text-decoration: none;
  color: black;
  background: linear-gradient(45deg, #161f6d, white, #00abe1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.25s;
  opacity: 0.5;
}

.mainCon .section:nth-child(2) > div:last-child > a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px black;
  opacity: 1;
}

/* service_con */

.service_con {
  width: 100%;
  height: auto;
}

.service_con > div:nth-child(odd) {
  background-color: #00abe1;
}

.service_con > div:nth-child(even) {
  background-color: #161f6d;
}
.service_con > div {
  display: flex;
  min-height: 100vh;
}

.service_con > div:nth-child(2) {
  flex-direction: row-reverse;
}

/* .service_con > div:nth-child(-n + 2) {
  min-height: unset;
} */

.service_con > div:nth-child(-n + 2) > div {
  flex: 1;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.service_con > div:nth-child(-n + 2) > div > div > div > h1 {
  position: absolute;
  padding: unset;
  text-shadow: unset;
  transform: translate(0%, -50%);
  font-size: 2rem;
}

.service_con > div:nth-child(-n + 2) > div > div > div > h1:first-child {
  color: transparent;
  -webkit-text-stroke: 2px #161f6d;
}

.service_con > div:nth-child(-n + 2) > div > div > div > h1:nth-child(2) {
  color: #161f6d;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      1% 46%,
      13% 44%,
      25% 53%,
      39% 60%,
      54% 57%,
      63% 50%,
      77% 46%,
      96% 43%,
      100% 44%,
      99% 100%,
      0% 99%
    );
  }
  50% {
    clip-path: polygon(
      0% 54%,
      18% 57%,
      37% 58%,
      49% 50%,
      66% 41%,
      82% 35%,
      93% 34%,
      100% 38%,
      100% 99%,
      1% 100%
    );
  }
}

.service_con > div:nth-child(-n + 2) > div > div > ul {
  padding: 20px;
}
.service_con > div:nth-child(-n + 2) > div > button {
  background-color: yellow;
  border-radius: 5px;
  color: black;
  text-transform: capitalize;
  min-width: 250px;
}
.service_con > div:nth-child(-n + 2) > div > button:hover {
  box-shadow: 0 0 100px yellow;
}

.service_con > div:nth-child(-n + 2) > div:first-child {
  color: white;
  font-size: x-large;
}

.service_con > div:nth-child(-n + 2) > div:first-child > div {
  padding: 2rem;
}

.service_con > div:nth-child(1) > div:nth-child(2) > img {
  border-radius: 50px 0 0 50px;
  box-shadow: 0 0 10px black;
  background-color: white;
}

.service_con > div:nth-child(2) > div:nth-child(2) > img {
  border-radius: 0 50px 50px 0;
  box-shadow: 0 0 10px black;
  background-color: white;
}

.service_con > div > div:nth-child(2) > img {
  padding: 10px;
  width: 100%;
  backdrop-filter: blur(100px);
  object-fit: contain;
}

@media (max-width: 1000px) {
  /* Section 2 */

  .mainCon .section:nth-child(2) {
    flex-direction: column;
    min-height: unset;
  }

  .mainCon .section:nth-child(2) > div:first-child {
    flex-wrap: wrap;
    flex-direction: unset;
  }

  .mainCon .section:nth-child(2) > div:last-child {
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .mainCon .section:nth-child(2) > div:last-child > a {
    width: 40%;
  }

  /* Services */
  .service_con > div:nth-child(-n + 2) {
    flex-direction: column;
  }
  .service_con > div:nth-child(-n + 2) > div:nth-child(2) > img {
    border-radius: unset;
  }
}

@media (max-width: 600px) {
  .mainCon .section:first-child {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    min-width: 300px;
  }

  .mainCon .section:first-child .carsouel {
    min-height: unset;
    flex: 1;
  }

  .mainCon .section:first-child .layerContent {
    margin-top: -100px;
    position: relative;
    bottom: unset;
    left: 0%;
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    flex: 1;
    font-size: large;
  }

  .mainCon .section:first-child .layerContent > div {
    height: unset;
    width: unset;
    max-width: 450px;
    max-height: inherit;
  }

  .mainCon .section:first-child .layerContent > div > p,
  h1 {
    padding: 10px;
    word-spacing: normal;
  }
  .mainCon .section:nth-child(2) > div:first-child {
    box-shadow: unset;
    justify-content: center;
  }
  .mainCon .section:nth-child(2) > div:first-child > a:hover,
  .servicesLinkActive {
    border: unset;
    border-radius: 5px;
  }
  .mainCon .section:nth-child(2) > div:last-child {
    padding: unset;
  }
  .mainCon .section:nth-child(2) > div:last-child > a {
    width: 40%;
    margin: 5px;
    border: unset;
  }

  /* Section 2 */

  .mainCon .section:nth-child(2) {
    flex-direction: column;
  }

  .mainCon .section:nth-child(2) > div:first-child {
    flex-wrap: unset;
    overflow: auto;
    flex-direction: unset;
    justify-content: unset;
    align-items: center;
  }
  .mainCon .section:nth-child(2) > div:first-child::-webkit-scrollbar {
    display: none;
  }

  .mainCon .section:nth-child(2) > div:last-child > a {
    width: 100%;
  }
}
